:root {
  --preview-square: 150px;
}

html, body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #222223;
}

header {
  text-align: right;
  font-weight: 100;
  color: #efefef;
  background-color: black;
  padding: 1rem;
  margin-bottom: 1rem;
}

#logo {
  margin: 0;
  font-size: 2rem;
  font-style: italic;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

form {
  background-color: #EFEFEF;
  padding: 1rem;
  text-align: center;
  width: 20rem;
}

#form-heading {
  font-weight: 100;
  margin: 0 0 1rem 0;
}

label, input {
  display: block;
}

input[type="file"] {
  text-align: center;
  width: 5.9rem;
  overflow: hidden;
  margin: 1rem auto;
}

#fake-phone-screen {
  width: calc(var(--preview-square) * 3.04);
  height: calc(var(--preview-square) * 5.3);
  overflow: scroll;
  border: 0.5rem solid #EFEFEF;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: #888;
}

.preview-card {
  position: relative;
  border: 1px solid #EFEFEF;
  width: var(--preview-square);
  height: var(--preview-square);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.delete {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.preview-card:hover .delete{
  opacity: 1;
}