html {
  box-sizing: border-box;
}

img {
  width: 100;
  height: 80px;
}

#fake-phone-screen {
  width: 600px;
  height: 800px;
  overflow: scroll;
  border: 2px solid black;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem auto;
}

.preview-card {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.delete {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.preview-card:hover .delete{
  opacity: 1;
}